/* Position arrows outside the Swiper container */
.swiper-button-prev,
.swiper-button-next {
 
  color: pink;
  padding: 10px;
  cursor: pointer;
}

.slide-container {
    padding: 100px;
}


.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Change color of inactive pagination dots */
.swiper-pagination-bullet {
    background: blue;  /* Green color for inactive dots */
}
  
  /* Change color of active pagination dot */
.swiper-pagination-bullet-active {
    background: pink;  /* Orange color for the active dot */
}
